<!DOCTYPE html>
    <html class="html">
      <head>
        {{ content_for_header }}
      </head>
    
      <body class="body">
        {% section 'header' %}
        {% section 'topbar' %}
        {% section 'picture' %}
        {% section 'concept' %}
        {% section 'map' %}
        {% section 'timetable' %}
        {{ content_for_layout }}
      </body>
     </html>
    
{% style %}

.html {
}

.body {
    background-color: #FFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

{% endstyle %}