<!DOCTYPE html>
<html class="html">
  <head>
    {{ content_for_header }}
    {{ 'custom-fonts.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

  </head>

  <body class="body">
    {% section 'header' %}
    <div class="main">
      {{ content_for_layout }}
    </div>
    {% section 'footer' %}
  </body>
</html>
