<!DOCTYPE html>
    <html class="html">
      <head>
        {{ content_for_header }}
        {{ 'custom-fonts.css' | asset_url | stylesheet_tag }}
        {{ 'base.css' | asset_url | stylesheet_tag }}

      </head>
    
      <body class="body">
        {% section 'header' %}
        {% section 'topbar' %}
        {% section 'picture' %}
        <div class="main-wrapper">
          <div class="main-column">
          {% section 'concept' %}
          {% section 'map' %}
          {% section 'timetable' %}
          {{ content_for_layout }}
        </div>
        <div>
      </body>
     </html>
