<div class="ban-main">
  <div class="ban-box">
    Chers clients, le camion épicerie est malheureusement en panne pour le moment. Veuillez consulter la page Facebook pour savoir quand je serai de retour dans votre ville, ou me contacter directement par téléphone au 06 46 71 14 32. À très bientôt !
  </div>

</div>

{% style %}

  .ban-main {
    color: white;
    background-color: #ff6961;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    padding: 1rem;
  }

  @media screen and (max-width: 1200px) {
    .ban-main {
      font-size: 19px;
    }
  }
{% endstyle %}