<div class="main-wrapper">
  <div class="main-column">
    <div class="cs-main">
      <div class="cs-row">
        <div class="cs-digit">
          2
        </div>
        <div class="">
          logo
        </div>
      </div>
      <div class="cs-col">
        <div class="cs-row-title whimsy">Je compose mon panier</div>
        <div class="cs-row-paragraph">Je fais ma liste de courses en cliquant sur le lien ci-dessous. Je n'oublie pas de renseigner une adresse mail afin de recevoir le lien de paiement.</div>
        <div class="cs-center">
          <div class="cs-command-button">Commander</div>
        </div>
      </div>
    </div>
  </div>
</div>

{%- style -%}

  .cs-command-button {
    display: flex;
    background-color: var(--duck-blue);
    color: var(--orange);
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: min-content;
    padding: 0.5rem 2rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  .cs-center {
    display: flex;
    justify-content: center;
  }
{% endstyle %} 