<div class="main-wrapper">
  <div class="main-column">

    <div class="ccm-main">
      <div class="ccm-row">
        <div class="ccm-digit">
          1
        </div>
        <div class="">
          <img src={{ 'black-glass.png' | asset_url }} class="black-glass" />
        </div>
      </div>
      <div class="ccm-col">
        <div class="ccm-row-title whimsy">
          Je vérifie que j'habite dans une commune couverte par la livraison
        </div>
        <div class="ccm-row-paragraph">
          Pierre qui roule vient jusqu'à votre porte ! Tous les vendredis après-midi, de 15H00 à 20H00 vous avez la possibilité de vous faire livrer vos courses à votre domicile.
        </div>
        <div class="ccm-row-paragraph">
          <b>La livraison à domicile vous est offerte dès 25 € d'achat !</b>
        </div>
        <div class="ccm-row-paragraph">Vérifiez dans la liste ci-dessous si votre commune est desservie.</div>
        <div class="ccm-row-paragraph">
          Si votre panier inférieur à 25€, pas de panique ! Nous vous livrons pour la somme de 5€.
        </div>
        <div class="centered whimsy t2 orange">
          Communes desservies:
        </div>
        <div class="centered whimsy t1">
          Saint-Omer - Longuenesse - Arques
        </div>
        <div class="centered whimsy t2 ">
          Saint-Martin-lez-Tatinghem - Wisques - Blendecques - Wizernes - Racquinghem
        </div>
        <div class="centered whimsy t3">
          Wardrecques - Campagne-les-Wardrecques - Esquerdes - Hallines - Helfaut - Heuringhem - Pihem
        </div>
        <div class="ccm-map-container">
          <img
            loading='lazy'
            class="ccm-map"
            src={{ 'ccm-map.jpeg' | asset_url }} />

        </div>

      </div>
    </div>

  </div>
</div>

{% style %}

  .t1 {
    font-size: 4rem;
  }

  .t2 {
    font-size: 3rem;
  }
  .t3 {
    font-size: 2rem;
  }

  .centered {
    text-align: center
  }

  .ccm-col {
    padding: 1rem;
  }

  .ccm-map-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .ccm-map {
    margin-top: 2rem;
    width: 60rem;
  }

  .black-glass {
    height: 2.3rem;
    width: 2.3rem;
  }
{% endstyle %}