<div class="main-wrapper">
  <div class="main-column">
    <div class="ccm-main">
      <div class="ccm-row">
        <div class="ccm-digit">
          3
        </div>
        <div class="">
          <img src={{ 'camion-noir-icon.png' | asset_url }} class="black-glass" />
        </div>
      </div>
      <div class="ccm-col">
        <div class="ccm-row-title whimsy">
          Pierre me livre !
        </div>
        <div class="ccm-row-paragraph">
          Après avoir envoyé ma commande, je suis averti(e) la veille du créneau horaire estimé de la livraison.
        </div>
        <div class="ccm-row-paragraph">
          <b>Vous serez livré le vendredi entre 15H00 et 20H00 à l'adresse mentionnée.</b>
        </div>
        <div class="ccm-row-paragraph">
          <b>Vous pouvez régler en CB (carte bleue) ou en espèces le livreur au moment de la remise de votre panier.</b>
        </div>
        <div class="ccm-row-paragraph">
          Afin de garantir la fraîcheur des produits, vous vous engagez à être au lieu de livraison au créneau horaire transmis. En cas d'absence et de non réponse au téléphone la commande ne pourra être livrée.
        </div>

        <div class="ccm-row-paragraph">
          <a class="link blue-link" href="/pages/cgv">Voir les conditions génerales de vente</a>.
        </div>

        <div class="ccm-row-paragraph">
          Vous avez d'autres questions ?
          <a class="link blue-link" href="/pages/faq">Rendez-vous sur notre FAQ !</a>.
        </div>

      </div>
    </div>
  </div>
</div>

{% style %}
  b {
    /* font-size: 3rem; */
    font-weight: bolder;
    color: var(--orange);
  }
{% endstyle %}