<div class="main-wrapper">
  <div class="main-column">

    <div class="wtfiller">
      0
    </div>

    <div class="ccm-main">

      <div class="ccm-title-wrapper">
        <div class="ccm-title whimsy orange-underline">Comment ça marche ?</div>
      </div>

    </div>

    <div class="wtfiller">
      0
    </div>


  </div>
</div>

{%- style -%}

  b {
    font-weight: bolder;
    color: var(--orange);
  }

  .wtfiller {
    display: flex;
    width: 10%;
    color: white;
  }

  .ccm-main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .ccm-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ccm-col {
    padding: 1rem;
  }

  .ccm-title-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .ccm-title {
    display: flex;
    font-size: 3rem;
    text-align: center
  }
  @media screen and (max-width: 1000px) {
    .ccm-title {
      font-size: 4rem;
    }
  }

  .ccm-row-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    color: var(--duck-blue);
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  @media screen and (max-width: 1000px) {
    .ccm-row-title {
      font-size: 4rem;
    }
  }

  .ccm-digit {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--duck-blue);
    color: var(--orange);
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    border-radius: 50%;
  }
  @media screen and (max-width: 1000px) {
    .ccm-digit {
      height: 7rem;
      width: 7rem;
      font-size: 6rem;
    }
  }

  .blue-link {
    cursor: pointer;
    color: blue;
  }

  .ccm-row-paragraph {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1000px) {
    .ccm-row-paragraph {
      font-size: 2rem;
    }
  }
{% endstyle %}