<div class="main-wrapper">
  <div class="main-column">
    <div class="ccm-main">
      <div class="ccm-row">
        <div class="ccm-digit">3</div>
        <div class="">
          <img src="{{ 'cart-icon.png' | asset_url }}" class="black-glass">
        </div>
      </div>
      <div class="ccm-col">
        <div class="ccm-row-title whimsy">Je compose mon panier</div>
        <div class="ccm-row-paragraph">
          Je fais ma liste de courses avec les produits disponibles à la livraison : "Je commande" > "Les produits"
        </div>
        <div class="ccm-row-paragraph">
          A tout moment je peux consulter mon panier et supprimer ou ajouter des articles. Je valide mon panier au plus
          tard le mercredi à 18H.
        </div>

        <div class="ccm-row-paragraph smaller">
          <a class="link blue-link" href="/pages/cgv">Voir les conditions génerales de vente</a>.
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  .smaller {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  @media screen and (max-width: 1000px) {
    .smaller {
      font-size: 1.3rem;
    }
  }

  .black-truck {
    height: 4rem;
    width: 4rem;
  }
  @media screen and (max-width: 1000px) {
    .black-truck {
      height: 6rem;
      width: 6rem;
    }
  }
{% endstyle %}
