<div class="main-wrapper">
  <div class="main-column">
    <div class="cgv-column">
      <div class="cgv-title whimsy orange-underline">Conditions générales de vente</div>
      <div class="cgv">
        <div class="cgv-row">CGV Pierre Qui Roule</div>
        <div class="cgv-row">1 - Généralités</div>
        <div class="cgv-row">
          La société SARL CLAEREBOUDT de nom commercial « Pierre qui roule » édite et exploite un site internet à
          l'adresse https://epicerie-pierrequiroule.fr/ (ci-après le « Site ») dont l'objet est de proposer un service
          de « marketplace » (place de marché, ci-après « le Service ») et de mettre en relation des consommateurs
          (ci-après « Acheteurs ») avec l'entreprise SARL CLAEREBOUDT (de nom commercial « Pierre Qui Roule ») afin de
          conclure un contrat dont l'objet est la vente de produits alimentaires frais, secs ou en vrac (ci-après les
          "Produits") proposés à un prix ferme. Les présentes Conditions Générales de Vente (ci-après les « CGV»)
          s'appliquent, dès lors qu'une commande est passée entre un Acheteur et la société SARL CLAEREBOUDT à travers
          le site « https://epicerie-pierrequiroule.fr/ ». Cette commande est considérée comme passée dès lors qu'elle
          est reçue par le vendeur à travers les canaux de commande indiqués.
        </div>
        <div class="cgv-row">
          Les CGV sont opposables à l'Acheteur qui reconnait en avoir eu connaissance et les avoir acceptées avant de
          passer commande. Les CGV sont directement consultables sur le site « https://epicerie-pierrequiroule.fr/ ». Le
          client reconnaît avoir pris connaissance, au moment de la passation de commande, des caractéristiques des
          produits et déclare expressément les accepter sans réserve. Il est rappelé que les photos ne sont pas
          contractuelles et que des différences peuvent apparaitre.
        </div>
        <div class="cgv-row">
          Les CGV applicables à l'Acheteur demeurent celles en vigueur à la date de la commande et peuvent être
          modifiées à tout moment par son rédacteur.
        </div>
        <div class="cgv-row">2 – Modalités de commande et prix :</div>
        <div class="cgv-row">2.1 Inscription sur le Site :</div>
        <div class="cgv-row">
          Pour passer une commande, l'Acheteur doit créer un compte client au moyen d'une adresse email valide et d'un
          mot de passe. Lors de la création de ce compte, l'Acheteur doit remplir un formulaire comportant des données
          personnelles à renseigner obligatoirement. L'Acheteur doit être majeur et avoir la capacité juridique de
          contracter. La vente de boissons alcoolisées est interdite aux mineurs. l'Acheteur déclare, sous sa seule
          responsabilité, être âgé de 18 ans révolus à la date de passation de la commande. A l'ouverture de ce compte,
          l'identifiant et le mot de passe sont définis par l'Acheteur, qui s'engage à les conserver secrets et à ne les
          divulguer à aucun tiers. L'Acheteur supportera dès lors seul toutes les conséquences qui pourraient résulter
          de leur utilisation par des tiers qui en auraient eu connaissance.
        </div>
        <div class="cgv-row">
          A tout moment, par demande écrite, l'acheteur a la possibilité de se désinscrire du site. Les données client
          sont alors détruites par l'entreprise. A tout moment l'acheteur peut modifier le mot de passe associé à son
          compte. Un e-mail lui est alors envoyé afin de valider la procédure.
        </div>
        <div class="cgv-row">2.2 Conformité des produits et ou services :</div>
        <div class="cgv-row">- Description des produits</div>
        <div class="cgv-row">
          Les produits mis en vente sur le site font l'objet d'une description de leurs caractéristiques conformément
          aux dispositions de l'article L.111-1 du Code de la consommation.
        </div>
        <div class="cgv-row">
          Le Vendeur s'engage à n'offrir sur le Site que des Produits disponibles et, dans la mesure du possible, à
          retirer du Site les produits qui ne seraient plus disponible à la vente. Dans l'éventualité d'une
          indisponibilité exceptionnelle de Produit après passation de la commande de l'Acheteur, le Vendeur en
          informera l'Acheteur et la commande sera revue en conséquence. Il ne pourra être facturé à l'acheteur un
          produit qui était préalablement commandé et dont la disponibilité n'est plus.
        </div>
        <div class="cgv-row">La Fiche d'Information du Produit comprend à minima les éléments suivants :</div>
        <div class="cgv-row">
          • La provenance du produit ainsi que l'identité du producteur avec toutes les mentions réglementaires
          relatives à l'origine. Si pour un même produit il y a deux origine le sigle « / » est alors utiliser pour
          caractériser la diversité des provenances ;
        </div>
        <div class="cgv-row">
          • La photographie du produit qui par défaut se veut non contractuelle. La responsabilité de la SARL
          CLAEREBOUDT ne peut être recherchée pour le motif de différence d'aspect entre le produit mis en ligne et le
          produit effectivement remis ;
        </div>
        <div class="cgv-row">
          • Le prix des Produits est indiqué toutes taxes comprises pour les acheteurs particuliers ;
        </div>
        <div class="cgv-row">
          • Les caractéristiques essentielles relatives à l'information consommateur ainsi qu'aux dispositions légales
          notamment concernant la publicité des allergènes (taille, quantité, unité, poids, caractéristiques et la liste
          des ingrédients ou leur composition…) ;
        </div>
        <div class="cgv-row">
          Parfois, des conseils d'utilisation ou de stockage sont indiqués à titre informatif à destination de
          l'acheteur.
        </div>
        <div class="cgv-row">
          Une tolérance d'écart de poids de 10% maximum sera admise sur la quantité du produit livré. A noter que
          l'entreprise SARL CLAEREBOUDT exerce uniquement une activité d'achat-revente. Les contraintes liées aux normes
          alimentaires imposent de proposer uniquement des produits emballés à la vente (exemple : boucherie, fromages,
          etc.). De fait, le poids des produits proposés l'est à l'unique initiative des fournisseurs de l'entreprise
          SARL CLAEREBOUDT. En cas d'écart de poids supérieur à 10% par rapport à celui annoncé sur le site internet le
          client peut :
        </div>
        <div class="cgv-row">
          • Demander à retirer un produit de son bon de commande. Exemple : L'acheteur commande des rillettes annoncées
          pour un poids minimum de 200 gr. Celles-ci pèsent lors de la remise au client un poids réel de 160 gr.
          L'acheteur est donc en droit de réclamer à supprimer l'article de sa commande. L'entreprise SARL CLAEREBOUDT
          ne peut donc exiger du client de procéder au règlement de l'article pour cause de non-conformité de l'article
          avec les exigences de poids. Ces articles sont donc retirés de la commande mais il revient à l'acheteur de
          procéder au règlement du reste des articles ;
        </div>
        <div class="cgv-row">
          • Accepter de payer l'article au poids réel. Exemple : L'acheteur commande des rillettes annoncées pour un
          poids minimum de 200 gr. Celles-ci pèsent lors de la remise au client un poids réel de 160 gr. L'acheteur peut
          accepter la commande en toute connaissance de cause et payer l'article au prix au kilo annoncé multiplié par
          le poids réel. Si le prix des rillettes est fixé à 20,00€/kg et qu'elles pèsent 160 gr alors l'acheteur qui
          accepte malgré tout de payer l'article devra débourser 20,00€*0,160gr soit 3,20€.
        </div>
        <div class="cgv-row">
          Les renseignements mentionnés sur chaque fiche d'information produit sont ceux communiqués par les
          fournisseurs de la SARL CLAEREBOUDT. En cas d'erreur d'étiquetage, de défaut d'information sur le produit, ou
          d'omission d'informations réglementaires apposées sur le produit, la responsabilité de la SARL CLAEREBOUDT de
          ne saurait être mise en cause. L'entreprise SARL CLAEREBOUDT n'a pas pour vocation à confectionner ou élaborer
          des marchandises et ne peut donc se substituer au producteur pour informer qualitativement et quantitativement
          le consommateur sur les caractéristiques du produit.
        </div>
        <div class="cgv-row">
          L'entreprise SARL CLAEREBOUDT s'engage à garantir une DLC de minimum 3 jours à compter de la réception du
          produit par le client. Si un produit s'avèrerait ne pas tenir cet engagement le consommateur en sera averti
          lors de la livraison. Celui-ci peut accepter le produit en toute connaissance de cause ou refuser de payer
          pour ce(s) article(s) présentant un défaut de date.
        </div>
        <div class="cgv-row">- Etapes de la commande</div>
        <div class="cgv-row">
          Pour passer une commande via le Service, l'Acheteur doit suivre la procédure de commande en ligne en
          respectant les étapes suivantes :
        </div>
        <div class="cgv-row">1. Créer un compte sur le site ;</div>
        <div class="cgv-row">
          2.sélectionner les produits disponibles et sélectionner une quantité (ex : 2 beurres doux),
        </div>
        <div class="cgv-row">
          3.renseigner les informations relatives à la livraison et consulter les délais de livraison, qui ne courent
          qu'à compter de la confirmation de l'acceptation de la commande par le Vendeur,
        </div>
        <div class="cgv-row">
          4. finaliser le panier et confirmer la commande et déclarer que les présentes CGV ont été mises à sa
          disposition et les accepter pleinement et sans réserve. L'acheteur prend également connaissance que l'action
          d'envoyer la commande à la SARL CLAEREBOUDT vaut acceptation implicite des CGV ;
        </div>
        <div class="cgv-row">
          5. L'Acheteur reçoit alors un email ou un SMS de confirmation de l'enregistrement de sa commande ;
        </div>
        <div class="cgv-row">
          N.B : En l'absence de confirmation de la commande, le contrat conclu entre l'Acheteur et le Vendeur est
          automatiquement annulé et chacune des parties est libérée de ses obligations.
        </div>
        <div class="cgv-row">
          6. Dès que le Vendeur confirme avoir pris en charge tout ou partie de la commande, un email ou un SMS est
          adressé à l'Acheteur pour confirmer. L'entreprise SARL CLAEREBOUDT prend de fait l'engagement ferme de livrer
          les produits au jour prévu et dans le créneau horaire annoncé.
        </div>
        <div class="cgv-row">Engagement du vendeur (SARL CLAEREBOUDT)</div>
        <div class="cgv-row">
          • En cas de non disponibilité d'un article pour lequel un acheteur aurait passé commande, l'entreprise SARL
          CLAEREBOUDT s'engage à en informer l'acheteur dans les plus brefs délais ;
        </div>
        <div class="cgv-row">
          • Les outils de mesure et de pesage sont certifiés et régulièrement contrôlés conformément aux dispositifs de
          la directive 2014/31/UE ;
        </div>
        <div class="cgv-row">
          • La provenance des produits est systématiquement signalée soit sur le produit lui-même à travers une
          étiquette apposée par le fournisseur soit sur le site internet ;
        </div>
        <div class="cgv-row">
          • La présence potentielle ou avérée d'allergène(s) est mentionnée soit sur l'étiquette du produit apposée par
          le fournisseur soit sur le site internet.
        </div>
        <div class="cgv-row">• Respecter la chaîne du froid et le maîtrise de la réglementation hygiène HACCP.</div>
        <div class="cgv-row">2.3 Prix des Produits</div>
        <div class="cgv-row">
          Les prix sont fixés librement l'entreprise SARL CLAEREBOUDT, dans le respect des lois et règlements
          applicables. Le prix des produits est indiqué en euros (€) toutes taxes comprises pour les acheteurs. Les prix
          indiqués ne sont pas négociables. Le prix de vente des produits est celui en vigueur au jour de la réception
          de la commande. En cas de prix promotionnel, la SARL CLAEREBOUDT s'engage à appliquer le prix promotionnel à
          toute commande passée pendant la durée de la promotion. La SARL CLAEREBOUDT se réserve le droit de modifier
          ses prix à tout moment, tout en garantissant à l'acheteur l'application du prix en vigueur au moment de sa
          commande. Note : Sont considérés comme frais de livraison une participation au coût réel du transport estimé
          selon le secteur de livraison défini. Le consommateur est averti d'une offre commerciale visant à livrer les
          produits à titre gracieux (livraison gratuite) à partir d'un certain seuil financier de commande. Ce volume
          financier de commande est fixé par l'entreprise SARL CLAEREBOUDT et peut être librement corrigé. A défaut
          d'atteindre ce seuil permettant de bénéficier de frais de livraison gratuit, l'acheteur accepte en toute
          connaissance de cause d'être livré pour un coût fixé par la SARL CLAEREBOUDT. Ce coût de livraison ne peut
          faire l'office de négociation avec l'acheteur.
        </div>
        <div class="cgv-row">2.4 Paiement</div>
        <div class="cgv-row">
          Il est rappelé que toute passation de commande entraîne une obligation de paiement. La commande ne sera
          définitive qu'à compter du paiement du prix correspondant. Le prix est payable comptant et en totalité au
          moment de la livraison de la commande soit par carte bancaire (visa, mastercarde, paylib) soit en espèces. La
          SARL CLAEREBOUDT peut exceptionnellement accepter les chèques s'il s'agit d'un client régulier et de longue
          date. Ce dernier moyen de paiement n'est donc pas mentionné dans les options de paiement communiquées auprès
          du public.
        </div>
        <div class="cgv-row">
          Le coût de la commande est la composante de la somme des prix individuels des produits commandé auxquels sont
          ajoutés les éventuels frais de livraison si le seuil minimal de commande n'est pas atteint.
        </div>
        <div class="cgv-row">
          Lors de la remise d'une commande à un acheteur, celui-ci peut émettre la volonté de réserver des produits lors
          du prochain cycle de commande. Cette possibilité permise par la SARL CLAEREBOUDT permet à l'acheteur de
          maximiser la probabilité de disponibilité d'un article. Si le volume financier de cette réservation est jugé
          majeur (cette notion de « majeur » est laissé à la libre appréciation du livreur et ne peut être discutée), la
          SARL CLAEREBOUDT se réserve le droit de procéder au paiement d'un acompte correspondant à 50% minimum de la
          valeur de l'article commandé. Si l'article s'avère indisponible un avoir d'un montant égal à celui de
          l'acompte sera remis à l'acheteur (N.B : l'acheteur devra alors réceptionner son avoir au domicile de
          l'activité de la SARL CLAEREBOUDT ou à défaut sur un des points de vente itinérant hebdomadaire). Au moment du
          paiement de l'acompte pour réservation d'un produit, l'acheteur dispose d'un délai de 48H de rétractation à
          compter du jour et de l'horaire du paiement de l'acompte. Cette possibilité permet à l'acheteur d'annuler une
          réservation. En deca de ce délai, et en cas de demande de rétractation, un avoir d'un montant égal à celui de
          l'acompte sera remis à l'acheteur (N.B : l'acheteur devra alors réceptionner son avoir au domicile de
          l'activité de la SARL CLAEREBOUDT ou à défaut sur un des points de vente itinérant hebdomadaire). Passé ce
          délai de rétractation de 48H à compter du jour et de l'horaire du paiement de l'acompte, l'acompte engagé ne
          peut être récupéré. Il n'existe alors aucune possibilité pour l'acheteur de demander un remboursement ou un
          avoir correspondant au montant financier de l'acompte. En envoyant sa commande à la SARL CLAERBOUDT,
          l'acheteur prend connaissance des modalités de paiement de l'acompte et accepte les conditions générales sur
          ce sujet.
        </div>
        <div class="cgv-row">
          Le paiement de la commande est réalisé lors de la remise du panier de commande de « mano à mano » entre le
          livreur et l'acheteur.
        </div>
        <div class="cgv-row">
          N.B : Lors de la remise de la commande à l'acheteur, il peut être possible que celui-ci, sous réserve de
          disponibilités de la part du vendeur, décide :
        </div>
        <div class="cgv-row">
          - d'ajouter à sa commande un « nouveau » produit (ex : ajouter deux yaourts alors qu'ils n'y en avaient pas
          dans la commande initiale) ;
        </div>
        <div class="cgv-row">
          - remplacer un article de même valeur financière par un autre (ex : échanger un yaourt à la mûre contre un à
          la vanille) ;
        </div>
        <div class="cgv-row">
          - augmenter le volume d'un article commandé (ex : 500 gr d'échalotes préalablement commandé, auquel l'acheteur
          souhaite porter le volume à 1 kg).
        </div>
        <div class="cgv-row">
          Dans ces cas, est ajouter à la commande préalablement reçue et pour laquelle la livraison est effectuée, les
          modifications opérées. La valeur de la commande peut donc être revue à la hausse et sa composition modifiée.
          Cette modification dite « de dernière minute » entraine l'édition d'un nouveau bon de livraison détaillant les
          articles préalablement commandés auquel est ajouter les modifications (en nombre, valeur, nature).
        </div>
        <div class="cgv-row">2.5. Droit de rétractation</div>
        <div class="cgv-row">
          L'Acheteur dispose d'un délai de rétractation de 14 jours à compter de la date d'achat (qui correspond ici
          également à la date de remise du panier en échange du règlement) des produits alimentaires secs non
          susceptibles de se détériorer ou de se périmer rapidement et ce sans motif ni sans avoir à payer quelqueconque
          frais. Pour faire usage de son droit de rétractation, l'acheteur doit envoyer par écrit sa demande soit par
          SMS soit à l'adresse mail : commande.pierrequiroule@gmail.com. A compter de la réception de la demande de
          retrait par les moyens mentionnés, l'acheteur doit convenir avec le vendeur d'un jour et d'un créneau horaire
          lors de la tournée de livraison à domicile afin de « redélivrer » le(s) produit(s) mentionné(s) en échange de
          leur(s) remboursement ou de tout autre geste commerciale. En cas de remboursement financier, celle-ci se fera
          en espèces.
        </div>
        <div class="cgv-row">Livraison</div>
        <div class="cgv-row">
          L'entreprise SARL CLAEREBOUDT propose un service de livraison à domicile de produits locaux dans un secteur
          défini. Ce service s'ajoute aux branches d'activités de l'entreprise et à pour objectif d'offrir un service
          supplémentaire aux acheteurs potentiels sur le secteur. La livraison est effectuée seulement par le personnel
          employé par la SARL CLAEREBOUDT ou par le gérant lui-même. Aucune société tierce de livraison n'est employée à
          cette tâche. La livraison à domicile est uniquement éligible. Le secteur de livraison est défini librement par
          la SARL CLAEREBOUDT et de son plein gré. Ce secteur peut être soumis à modification par élargissement ou
          rétrécissement de la zone concernée.
        </div>
        <div class="cgv-row">
          L'entreprise SARL CLAEREBOUDT peut annuler la livraison pour des raisons géographiques telles que :
        </div>
        <div class="cgv-row">
          • Le point de livraison communiqué par l'acheteur ne figure pas dans le secteur éligible;
        </div>
        <div class="cgv-row">
          • L'adresse de livraison communiquée est erronée ou insuffisamment précise pour procéder à la remise du colis;
        </div>
        <div class="cgv-row">
          • Les voies d'accès permettant d'accéder au point de livraison ne sont pas praticables (La dite praticabilité
          est laissé à l'appréciation du livreur) et ne permettent pas la livraison.
        </div>
        <div class="cgv-row">
          L'annulation de la livraison pour les motifs précédemment énumérés ne peut conduire à un engagement de
          responsabilité de l'entreprise SARL CLAEREBOUDT et donc ne permet pas l'acheteur d'entamer une procédure
          litigieuse débouchant sur un remboursement, geste commercial, ou tout autre dédommagement amiable.
        </div>
        <div class="cgv-row">
          L'entreprise SARL CLAEREBOUDT s'engage à traiter dans un délai d'un jour ouvré la commande reçue de
          l'acheteur. En cas de retard lors de la livraison, le livreur s'engage à en informer les clients. Si les
          clients ne sont pas disponibles du fait du retard accusé par le livreur, la vente se voit annulée. Le paiement
          s'effectuant lors de la remise en main propre de la commande, cette annulation ne pourrait donner lieu à
          quelconque remboursement, geste commercial, ou tout autre dédommagement.
        </div>
        <div class="cgv-row">
          La livraison à domicile s'effectue sur un/des secteur(s) défini, un/des jour(s) défini, un/des créneaux(x)
          défini. L'entreprise SARL CLAEREBOUDT peut à tout moment, et sans justifications, décider :
        </div>
        <div class="cgv-row">• d'annuler une ou des journées de livraison ;</div>
        <div class="cgv-row">• de modifier les créneaux horaires sur les jours de livraison.</div>
        <div class="cgv-row">
          Lors de la livraison, les dommages ou spoliations doivent faire l'objet de la part de l'Acheteur de réserves
          écrites, précises, complètes, datées et signées sur le bon de livraison et/ou ticket de caisse faisant office
          de bordereau de livraison. Cette constatation permet à l'acheteur de faire valoir ses droits de rétractation
          et de remboursement. En cas d'anomalies lors de la livraison (dégradation d'un produit, vol ou perte, rupture
          de la chaine du froid, etc.), l'entreprise SARL CLAEREBOUDT peut de sa propre initiative annuler la livraison.
          Cette annulation ouvre alors une procédure de dédommagement.
        </div>
        <div class="cgv-row">
          L'acheteur peut proposer à l'entreprise SARL CLAEREBOUDT de délivrer la commande à un tiers (personne
          physique). Cette demande s'effectue obligatoirement de manière écrite. La démarche de livraison s'effectue
          alors de la même manière et le paiement de la commande se fera alors par ce tiers désigné. Le tiers NE PEUT
          procéder au paiement de la commande en son nom étant donné qu'il n'est pas l'émetteur de celle-ci. Il convient
          donc à l'acheteur de communiquer au tiers le mode de paiement et de lui transférer les fonds nécessaires à
          l'accomplissement de l'opération de livraison.
        </div>
        <div class="cgv-row">
          L'entreprise SARL CLAEREBOUDT propose une gamme large de produits locaux. Certains de ces produits sont dits «
          périssables ». Compte tenu de leurs spécificités, et plus particulièrement des produits frais dont le stockage
          doit se faire dans des conditions de températures strictes et encadrées par la loi, l'entreprise SARL
          CLAEREBOUDT s'engage auprès des acheteurs à :
        </div>
        <div class="cgv-row">
          • respecter les lois sanitaires nationales et européennes inhérentes aux activités de vente de produits
          alimentaires et plus particulièrement la démarche HACCP ;
        </div>
        <div class="cgv-row">
          • contrôler la dite « chaine du froid » lors de la livraison des produits frais. Les véhicules permettant
          d'assurer la livraison à domicile sont donc équipés en conséquence pour assurer le maintien des températures
          telles qu'évoquées par les fournisseurs ;
        </div>
        <div class="cgv-row">• assurer le respect des Dates Limites de Consommation (DLC) ;</div>
        <div class="cgv-row">• prévenir toutes dégradations physiques de denrées alimentaires.</div>
        <div class="cgv-row">Disponibilité des produits</div>
        <div class="cgv-row">
          L'entreprise SARL CLAEREBOUDT exerce une activité dite « d'achat-revente » de produits locaux. A ce titre,
          l'approvisionnement dépend donc exclusivement de fournisseurs partenaires. L'entreprise SARL CLAEREBOUDT
          s'efforce à obtenir 100% de disponibilité des produits proposés à la vente. Cependant certains produits
          peuvent parfois s'avérer indisponible à la vente.
        </div>
        <div class="cgv-row">
          • Si un produit est indisponible à la vente, le vendeur s'engage à retirer le(s) produit(s) concernés dans les
          meilleurs délais de la plateforme de vente en ligne afin d'éviter à certains acheteur des déconvenues ;
        </div>
        <div class="cgv-row">
          • Dans le cas où un produit aurait été estampillé « disponible » sur la plateforme de vente en ligne alors que
          les stocks de celui-ci ne permettent pas au vendeur d'honorer la commande transmise par le client,
          l'entreprise SARL CLAEREBOUDT peut :
        </div>
        <div class="cgv-row">• Proposer au client un produit équivalent ;</div>
        <div class="cgv-row">
          • Faire une proposition commerciale de dédommagement (en nombre ou en nature, financière ou non).
        </div>
        <div class="cgv-row">
          • Le client peut faire valoir son droit de rétractation et annuler la commande passée.
        </div>
        <div class="cgv-row">Réclamation</div>
        <div class="cgv-row">
          L'entreprise SARL CLAEREBOUDT propose aux acheteurs une rubrique « Foire Aux Questions » sur le site internet
          dont elle est gestionnaire permettant d'apporter des réponses synthétiques aux questions récurrentes que
          peuvent être amené à se poser les potentiels acheteurs. L'existence de cette rubrique a pour unique objectif
          de faciliter l'information du consommateur et n'a pas de caractère exhaustif.
        </div>
        <div class="cgv-row">
          A partir de la remise en main propre et donc du paiement de la commande l'acheteur dispose d'un délai de 7
          jours ouvrés pour déposer une réclamation.
        </div>
        <div class="cgv-row">
          L'acheteur peut ouvrir une procédure de réclamation par l'outil de messagerie électronique communiqué sur le
          site internet ou par courrier à l'adresse de domiciliation de l'entreprise.
        </div>
        <div class="cgv-row">Possibilité de réclamation :</div>
        <div class="cgv-row">
          • Quantité de poids inférieure à celle annoncée. « Pierre qui roule » s'efforce à garantir que le poids livré
          des produits soit au plus proche de celui commandé avec une marge d'erreur de +/- 10%. Dans le cas où un
          produit ne respecterait pas cet engagement sur la valeur inférieure (c'est-à-dire MOINS de 10%), l'acheteur
          peut exiger de la part du vendeur le remboursement intégral de l'article. Dans la mesure où le poids est
          supérieur de 10% à celui annoncé cela ne constitue pas un préjudice étant donné que le prix payé ne varie pas,
          aucun(s) remboursement(s) sur ce(s) produit(s) ne pourraient être réclamé(s) ;
        </div>
        <div class="cgv-row">
          • DLC inférieure à celle garantie de 3J à compter de la réception de la commande par l'acheteur. En cas de DLC
          inférieur à l'engagement du vendeur, l'acheteur peut porter un droit de réclamation conduisant au
          remboursement de l'article ;
        </div>
        <div class="cgv-row">
          • Produit et/ou emballage abimé, présentant un défaut d'herméticité visible, non-corrélation des
          caractéristiques de l'article livré par rapport aux caractéristiques énoncées sur le site internet. Les cas
          précédemment cités ouvre une possibilité de remboursement de(s) article(s) concerné(s).
        </div>
        <div class="cgv-row">
          • Produit livré ne faisant pas partie de la commande. Un produit livré ne faisant pas partie des articles de
          la commande peut être : Cas n°1) la résultante d'une solution de remplacement proposé par l'entreprise à
          l'acheteur en cas d'indisponibilité de celui-ci lors de l'étape de livraison par rapport à la commande reçue.
          L'acheteur peut statuer par écrit favorablement ou non à cette solution. Cas n°2) le fruit d'une erreur
          humaine. Seul le « cas n°2 » ouvre droit à un remboursement des articles indiqués.
        </div>
        <div class="cgv-row">Motifs d'exclusion :</div>
        <div class="cgv-row">
          • Les fruits et légumes ne peuvent faire l'objet de réclamation dans la mesure où leur périssabilité et la
          qualité de leur conservation dépend de nombreux facteurs indépendant de l'entreprise une fois la livraison
          effectuée.
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  .cgv-row {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1000px) {
    .cgv-row {
      font-size: 2rem;
    }
  }

  .cgv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .cgv-column {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .cgv-title {
    width: fit-content;
    margin-top: 1rem;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    display: flex;
  }
  @media screen and (max-width: 1000px) {
    .cgv-title {
      font-size: 4rem;
    }
  }
{% endstyle %}
