<div class="main-wrapper">
  <div class="main-column pt col">

    <div class="collection-title">
      {{ collection.title }}
    </div>


    <div class="collections-container">
      <div class="collections">
        {% for product in collection.products %}

          <div class="collection-container">
            <a class="link collection-link" href={{product.url}}>
              <div class="collection">
                <div class="collection-name whimsy">
                  {{ product.title }}
                </div>

                <img
                  src="{{ product | img_url: 'original' }}"
                  display="block"
                  width="200"
                  height="200"
                  loading="lazy" />
              </div>
            </a>
          </div>


        {% endfor %}
      </div>
    </div>

  </div>
</div>

{% style %}
  .collection-title {
    display: flex;
    width: 100%;
    font-size: 2rem;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .collections-container {}


  .collections {
    margin: 1rem auto 0;
    display: grid;
    gap: 1rem;

  }

  .collection-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .collection-link {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .collection {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    /* width: 100%; */
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  }

  .collection-name {
    display: flex;
    width: 100%;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
  }


  @media(min-width: 100px) {
    .collections {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media(min-width: 760px) {
    .collections {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media(min-width: 1000px) {
    .collections {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media(min-width: 1300px) {
    .collections {
      grid-template-columns: repeat(5, 1fr);
    }
  }
{% endstyle %}