<div class="main-wrapper">
  <div class="main-column">
    <div class="cs-main">
      <div class="cs-row">
        <div class="cs-map">
          LOGO
        </div>
        <div class="cs-cities">
          <div class="cs-cities">
            <div class="cs-cities-title whimsy">
              Liste des communes desservies :
            </div>
            <div class="cs-city">
              Arques
            </div>
            <div class="cs-city">
              Blendecques
            </div>
            <div class="cs-city">
              Bomy
            </div>
            <div class="cs-city">
              Buysscheure
            </div>
            <div class="cs-city">
              Campagne-les-Wardrecques
            </div>
            <div class="cs-city">
              Clairmarais
            </div>
            <div class="cs-city">
              Hallines
            </div>
            <div class="cs-city">
              Helfaut
            </div>
            <div class="cs-city">
              Heuringhem
            </div>
            <div class="cs-city">
              Houlle
            </div>
            <div class="cs-city">
              Lederzeele
            </div>
            <div class="cs-city">
              Leulinghem
            </div>
            <div class="cs-city">
              Longuenesse
            </div>
            <div class="cs-city">
              Moulle
            </div>
            <div class="cs-city">
              Nieurlet
            </div>
            <div class="cs-city">
              Noordpeene
            </div>
            <div class="cs-city">
              Renescure
            </div>
            <div class="cs-city">
              Saint-Martin-lez-Tatinghem
            </div>
            <div class="cs-city">
              Saint-Momelin
            </div>
            <div class="cs-city">
              Saint-Omer
            </div>
            <div class="cs-city">
              Salperwick
            </div>
            <div class="cs-city">
              Serques
            </div>
            <div class="cs-city">
              Tilques
            </div>
            <div class="cs-city">
              Volckerinckhove
            </div>
            <div class="cs-city">
              Watten
            </div>
            <div class="cs-city">
              Wisques
            </div>
            <div class="cs-city">
              Wizernes
            </div>
            <div class="cs-city">
              Wulverdinghe
            </div>
            <div class="cs-city">
              Zudausques
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%- style -%}

  .cs-main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .cs-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .cs-cities-title {
    display: flex;
    width: 100%;
    font-size: 2rem;
    color: var(--orange);
    margin-bottom: 0.5rem;
  }

  .cs-map {
    display: flex;
  }

  .cs-cities {
    display: flex;
    flex-direction: column;
  }
{% endstyle %} 