<div class="main-wrapper">
  <div class="main-column">
    <div class="cs-main">
      <div class="cs-row">
        <div class="cs-digit">
          4
        </div>
        <div class="">
          logo
        </div>
      </div>
      <div class="cs-col">
        <div class="cs-row-title whimsy">Pierre me livre</div>
        <div class="cs-row-paragraph">Vous serez livré le samedi entre 9H00 et 12H00 à l'adresse mentionnée.</div>
        <div class="cs-row-paragraph">Pour être livré le samedi matin, vous pouvez commander jusqu'au mercredi minuit. Cela laisse le temps à Pierre qui roule de vous préparer votre livraison avec le plus grand soin.</div>
        <div class="cs-row-paragraph">Afin de garantir la fraîcheur des produits, vous vous engagez à être au lieu de livraison mentionné le samedi entre 9h00 et 12h00. En cas d'absence et de non réponse au téléphone la commande ne pourra être livrée.</div>
        <div class="cs-row-paragraph">L'acheteur assume pleinement les responsabilités et aucun remboursement ne pourra être demandé. Voir les conditions générales de vente</div>
      </div>
    </div>
  </div>
</div>

{%- style -%}
{% endstyle %} 