{% comment %} <div class="main-wrapper">
    <div class="main-column">
      <div class="ctmp-main">
        <div class="ctmp-contact">
            Vous pourrez prochainement commander les produits que vous trouvez au camion Pierre Qui Roule et vous les faire livrer à domicile !
        </div>
      </div>
    </div>
  </div>
  
  {%- style -%}
  
    .ctmp-main {
      display: flex;
      width: 100%;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      height: 30rem;
    }
  
    .ctmp-logo-pql {
      margin-bottom: 2rem;
    }
  
    .ctmp-contact {
      font-size: 2rem;
      margin-top: 0.5rem;
    }
  
    .ctmp-text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 1.5rem;
    }
  {% endstyle %}
   {% endcomment %}