<div class="main-wrapper">
  <div class="main-column">
    <div class="cs-main">
      <div class="cs-row">
        <div class="cs-digit">
          3
        </div>
        <div class="">
          logo
        </div>
      </div>
      <div class="cs-col">
        <div class="cs-row-title whimsy">Je finalise ma commande</div>
        <div class="cs-row-paragraph">Lorsque j'ai fini ma commande et renseigné un e-mail, je reçois dans les XXXX heures un lien de paiement sécurisé à l'adresse mail mentionnée. Je n'ai plus qu'à me laisser guider pour payer et finaliser ma commande.</div>
      </div>
    </div>
  </div>
</div>

{%- style -%}
{% endstyle %} 