<div class="main-wrapper">
  <div class="main-column">
    <div class="cmt-main">

      <div class="cmt-title-wrapper">
        <div class="cmt-title whimsy orange-underline">Comment ça marche ?</div>
      </div>


    </div>
  </div>
</div>

{%- style -%}

  .cmt-main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .cmt-title-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .cmt-title {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    display: flex;
  }
{% endstyle %} 