<div class="cc-main">

    <div class="cc-left-container">
        <div class="cc-title whimsy orange-underline">
            Le concept
        </div>
        <div class="cc-text">
            Promotion des circuits-courts, meilleure rémunération des producteurs/talents locaux, respect des saisonnalités, réduction des déchets d'emballage, etc. L'un des enjeux est de faire prendre conscience que l'on peut consommer plus respectueusement des produits de meilleure qualité qu'en magasin traditionnel tout en ayant un budget maitrisé.
            Il s'agit de créer une épicerie itinérante vendant des produits locaux, de saison, bios, et en vrac. De manière générale le projet vise à renouer avec des anciens modes de consommation alimentaire en plein essor : retour au circuits-courts accentué en partie par la crise sanitaire, Le projet s'inscrit également dans des tendances sociétales de fond : prise de conscience de la problématique des déchets (choix du vrac notamment), retour à la saisonnalité des produits, primauté aux circuits courts, etc.
        </div>
    </div>

    <div class="cc-right-container">
        <div class="cc-video-wrapper">
            <iframe class="cc-video"
                src="https://www.youtube.com/embed/pcSMbaSunug">
            </iframe>
        </div>
    </div>

</div>

{%- style -%}

.cc-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem 1rem 1rem 1rem;
}

@media screen and (max-width: 1200px) {
    .cc-main {
        grid-template-columns: 1fr;
    }
}

.cc-left-container {
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: column;
    align-items: center;
}

.cc-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cc-text {
    font-size:1.5rem;
}

.cc-right-container {
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
    align-items:center;
}

.cc-video-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cc-video {
    display: flex;
    height: 25rem;
    width: 40rem;
    font-size: 3rem;
    background-color: #06aa17;
}


{% endstyle %}

{% schema %}
{
  "name": "Concept"
}
{% endschema %}