<div class="main-wrapper">
  <div class="main-column">

    <div class="cc-main">

      <div class="cc-left-container">
        <div class="cc-title whimsy orange-underline">
          Le concept
        </div>
        {%- comment -%}
          <div class="cc-text">
          Promotion des circuits-courts, meilleure rémunération des producteurs/talents locaux, respect des saisonnalités, réduction des déchets d'emballage, etc. L'un des enjeux est de faire prendre conscience que l'on peut consommer plus respectueusement des produits de meilleure qualité qu'en magasin traditionnel tout en ayant un budget maitrisé.
          Il s'agit de créer une épicerie itinérante vendant des produits locaux, de saison, bios, et en vrac. De manière générale le projet vise à renouer avec des anciens modes de consommation alimentaire en plein essor : retour au circuits-courts accentué en partie par la crise sanitaire, Le projet s'inscrit également dans des tendances sociétales de fond : prise de conscience de la problématique des déchets (choix du vrac notamment), retour à la saisonnalité des produits, primauté aux circuits courts, etc.
          </div>
        {%- endcomment -%}
        <div class="cc-text">
          <div class="cc-p">
            Pierre Qui Roule est un camion épicerie qui sillone le Nord-Pas-De-Calais et vous propose le meilleur des produits de la région à votre porte !
          </div>
          <div class="cc-p">
            Fruits et légumes
          </div>
          <div class="cc-p">
            Produits laitiers : fromage, beurre, yaourt, crème fraîche...
          </div>
          <div class="cc-p">
            Vrac : pâtes, muesli, riz, lentilles...
          </div>
          <div class="cc-p">
            Boissons : bière, cidre, jus, soupe, vinaigre, huile...
          </div>
          <div class="cc-p">
            Hygiène et maison : savon, shampooing...
          </div>
          <div class="cc-p">
            Epicerie fine et sèche : farine, moutarde, confiture, gaufre...
          </div>
        </div>
      </div>

      <div class="cc-right-container">
        {%- comment -%}
          <div class="cc-video-wrapper">
          <iframe class="cc-video" src="https://www.youtube.com/embed/sQfEG4IrNXE"></iframe>
          </div>
        {%- endcomment -%}
        <img loading='lazy' class="cc-photo" src={{ 'photo-camion.JPG' | asset_url }}/>
      </div>
    </div>

  </div>
</div>

{%- style -%}

  .cc-photo {
    width: 60rem;
  }

  .cc-p {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .cc-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  @media screen and (max-width: 1200px) {
    .cc-main {
      grid-template-columns: 1fr;
    }
  }

  .cc-left-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .cc-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .cc-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 1000px) {
    .cc-p {
      font-size: 2rem;
    }
  }

  .cc-right-container {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
  }

  .cc-video-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .cc-video {
    display: flex;
    height: 25rem;
    width: 40rem;
    background-color: #06aa17;
  }
{% endstyle %}
