<div class="main-wrapper">
  <div class="main-column">

    <div class="cc-main">

      <div class="cc-left-container">
        <div class="cc-title whimsy orange-underline">
          Le concept
        </div>

        <div class="cc-text">
          <div class="cc-p">
            Pierre Qui Roule est un camion épicerie qui sillonne le Nord-Pas-De-Calais et vous propose le meilleur des produits de la région à votre porte !
          </div>
          <ul style="list-style-type:circle;">
            <li class="cc-p">
              Fruits et légumes
            </li>
            <li class="cc-p">
              Produits laitiers : fromage, beurre, yaourt, crème fraîche...
            </li>
            <li class="cc-p">
              Vrac : pâtes, muesli, riz, lentilles...
            </li>
            <li class="cc-p">
              Boissons : bière, cidre, jus, soupe, vinaigre, huile...
            </li>
            <li class="cc-p">
              Hygiène et maison : savon, shampooing...
            </li>
            <li class="cc-p">
              Epicerie fine et sèche : farine, moutarde, confiture, gaufre...
            </li>
          </ul>
        </div>

        <a class="link hd-box " href="/pages/en-savoir-plus">
          <div class="cc-button">
            En savoir plus
          </div>
        </a>

      </div>

      <div class="cc-right-container">
        {%- comment -%}
          <div class="cc-video-wrapper">
          <iframe class="cc-video" src="https://www.youtube.com/embed/sQfEG4IrNXE"></iframe>
          </div>
        {%- endcomment -%}
        <img loading='lazy' class="cc-photo" src={{ 'photo-camion.JPG' | asset_url }}/>
      </div>
    </div>

  </div>
</div>

{%- style -%}

  .cc-button {
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--duck-blue);
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .cc-button:hover {
    text-shadow: 1px 1px 2px white;
  }
  @media screen and (max-width: 1000px) {
    .cc-button {
      padding: 1.2rem;
      font-size: 2rem;
    }
  }

  .cc-photo {
    width: 50rem;
  }

  .cc-p {
    margin-bottom: 0.5rem;
  }

  .cc-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 1400px) {
    .cc-main {
      grid-template-columns: 1fr;
    }
  }

  .cc-left-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .cc-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 1000px) {
    .cc-title {
      font-size: 4rem;
    }
  }

  .cc-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 1000px) {
    .cc-p {
      font-size: 2rem;
    }
  }

  .cc-right-container {
    display: flex;
    padding: 1rem 1rem 1rem 0;
    align-items: center;
    justify-content: center;
  }

  .cc-video-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .cc-video {
    display: flex;
    height: 25rem;
    width: 40rem;
    background-color: #06aa17;
  }
{% endstyle %}