<div class="main-wrapper">
  <div class="main-column">

    <div class="cc-main">

      <div class="cc-left-container">
        <div class="cc-title whimsy orange-underline">
          Le concept
        </div>

        <div class="cc-text">
          <div class="cc-p">
            Pierre Qui Roule est un camion épicerie qui sillonne le Nord-Pas-De-Calais et vous propose le meilleur des produits de la région à votre porte !
          </div>
          <div class="cc-p">
            Fruits et légumes
          </div>
          <div class="cc-p">
            Produits laitiers : fromage, beurre, yaourt, crème fraîche...
          </div>
          <div class="cc-p">
            Vrac : pâtes, muesli, riz, lentilles...
          </div>
          <div class="cc-p">
            Boissons : bière, cidre, jus, soupe, vinaigre, huile...
          </div>
          <div class="cc-p">
            Hygiène et maison : savon, shampooing...
          </div>
          <div class="cc-p">
            Epicerie fine et sèche : farine, moutarde, confiture, gaufre...
          </div>
        </div>

      </div>

      <div class="cc-right-container">
        {%- comment -%}
          <div class="cc-video-wrapper">
          <iframe class="cc-video" src="https://www.youtube.com/embed/sQfEG4IrNXE"></iframe>
          </div>
        {%- endcomment -%}
        <img loading='lazy' class="cc-photo" src={{ 'photo-camion.JPG' | asset_url }}/>
      </div>
    </div>

  </div>
</div>

{%- style -%}

  .cc-photo {
    width: 60rem;
  }

  .cc-p {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .cc-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 1400px) {
    .cc-main {
      grid-template-columns: 1fr;
    }
  }

  .cc-left-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .cc-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 1000px) {
    .cc-title {
      font-size: 4rem;
    }
  }

  .cc-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 1000px) {
    .cc-p {
      font-size: 2rem;
    }
  }

  .cc-right-container {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
  }

  .cc-video-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .cc-video {
    display: flex;
    height: 25rem;
    width: 40rem;
    background-color: #06aa17;
  }
{% endstyle %}
