<div class="main-wrapper">
  <div class="main-column">
    <div class="ct-main">
      <div>
        <img loading='lazy' width="inherit" height="150" class="ct-logo-pql" src={{ 'logo-png.png' | file_img_url: 'large' }}/>
      </div>
      <div class="ct-contact">
        06 46 71 14 32
      </div>
      <div class="ct-contact">
        epicerie.pierrequiroule@gmail.com
      </div>

    </div>
  </div>
</div>

{%- style -%}

  .ct-main {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .ct-logo-pql {
    margin-bottom: 2rem;
  }

  .ct-contact {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  .ct-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
  }
{% endstyle %}
