<div class="main-wrapper">

  <div class="main-column  w-90">

    <div class="esp3-main">

      <div class="esp3-right-container esp3-grid-item">
        <img
          loading='lazy'
          class="esp3-photo"
          src={{ 'leg1.jpg' | asset_url }} />
      </div>

      <div class="esp3-left-container esp3-grid-item">

        <div class="title-wrapper">
          <div class="esp3-title whimsy">
            Retour à la saisonnalité des produits
          </div>
        </div>
        <div class="esp3-text">
          <div class="esp3-p">
            En travaillant uniquement avec des producteurs locaux, Pierre Qui Roule se plie au jeu des saisons.
          </div>
          <div class="esp3-p">
            Tous les mois, vous verrez apparaître de nouveaux produits issus des récoltes de nos agriculteurs mais vous ne trouverez pas de tomates au camion en plein hiver !
          </div>
          <div class="esp3-p">
            Nous avons créé un affichage que vous trouverez dans le camion vous permettant d'identifier les fruits et légumes de saison mais aussi de notre région. C’est à la fois un enjeu social et environnemental que nous tenons à respecter.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% style %}

  .esp3-photo {
    width: 45rem;
  }

  .esp3-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem 0;
  }

  @media screen and (max-width: 1200px) {
    .esp3-grid-item:nth-child(1) {
      order: 2;
    }
    .esp3-grid-item:nth-child(2) {
      order: 1;
    }

    .esp3-main {
      grid-template-columns: 1fr;
    }
  }

  .esp3-right-container {
    padding: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .esp3-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--duck-blue)
  }

  @media screen and (max-width: 1000px) {
    .esp3-title {
      font-size: 4rem;
    }
  }

  .esp3-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 1000px) {
    .esp3-text {
      font-size: 2rem;
    }
  }

  .esp3-p {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .esp3-left-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    display: flex;
  }


  .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
{% endstyle %}