<div class="main-wrapper">
  <div class="main-column">
    <div class="faq-column">
      <div class="faq-title whimsy orange-underline">FAQ - commande</div>

      <div class="faq-row-title whimsy">Quels sont les moyens de paiement acceptés ?</div>
      <div class="faq-row-paragraph">
        Le paiement se fait au moment de la réception du colis et deux moyens de paiement sont acceptés : carte
        bancaire, et espèces.
      </div>

      <div class="faq-row-title whimsy">Comment passer commande ?</div>
      <div class="faq-row-paragraph">
        Nous vous conseillons de passer commande via le site internet « epicerie-pierrequiroule.fr » ou par téléphone au
        06.46.71.14.32.
      </div>
      <div class="faq-row-paragraph">Voici les étapes pour vous faire livrer par le site internet :</div>
      <div class="faq-row-paragraph">
        <div class="ccm-row-paragraph smaller">
          <a class="link blue-link" href="/pages/ccm">Comment commander sur le site ?</a>
        </div>
      </div>

      <div class="faq-row-title whimsy">Quand puis-je commander ?</div>
      <div class="faq-row-paragraph">
        Vous avez jusqu'au jeudi 18H00 pour envoyer votre commande via le site (ou à défaut par sms au 06.46.71.14.32 ou
        par mail « commande.pierrequiroule@gmail.com »).
      </div>

      <div class="faq-row-title whimsy">Est-ce que je peux annuler une commande ?</div>
      <div class="faq-row-paragraph">
        Vous pouvez annuler une commande jusqu'au vendredi 12H. Au-delà nous considérerons que vous valider la commande
        définitivement et entamerons la livraison.
      </div>

      <div class="faq-row-title whimsy">
        Je ne peux finalement pas recevoir la commande, est-il possible de l'annuler ? A quelles conditions ?
      </div>
      <div class="faq-row-paragraph">
        Nous comptons sur votre engagement pour honorer autant que possible votre commande préalablement passée. Si vous
        avez une indisponibilité, plusieurs options sont possibles :
      </div>
      <div class="faq-row-paragraph">- Par accord écrit votre épicier peut déposer votre colis à un tiers.</div>
      <div class="faq-row-paragraph">
        - Retirer la commande au camion sur le parcours du camion (Cf. planning de tournée).
      </div>

      <div class="faq-title whimsy orange-underline">FAQ - livraison</div>

      <div class="faq-row-title whimsy">
        Comment savoir si la commune dans laquelle je réside est concernée par la livraison ?
      </div>
      <div class="faq-row-paragraph">
        Rendez-vous sur le site www.epicerie-pierrequiroule.fr puis dans l'onglet « Je commande » et « Comment ça marche
        » pour découvrir les communes éligibles à la livraison.
      </div>

      <div class="faq-row-title whimsy">Puis-je me faire livrer sur mon lieu de travail ?</div>
      <div class="faq-row-paragraph">
        Si votre lieu de travail se situe dans l'une des communes éligibles, il est alors possible de se faire livrer
        ses courses directement au boulot. Un sacré gain de temps ! Cependant le camion n'est pas autorisé à circuler
        sur des voies privées sans accord préalable de votre employeur. Il faudra donc venir au camion pour réceptionner
        la commande. Nous vous conseillons, pour garantir la fraîcheur de vos produits, d'obtenir l'accord de votre
        employeur pour les stocker dans les moyens frigorifiques qui sont mis à disposition des salariés.
      </div>

      <div class="faq-row-title whimsy">Comment est assurée la chaîne du froid ?</div>
      <div class="faq-row-paragraph">
        Vous êtes livrés soit avec le camion épicerie avec lequel « Pierre qui roule » réalise ses tournées et qui est
        un véhicule équipé de réfrigérateur (aux normes d'hygiène en vigueur avec contrôle de la température), soit avec
        un véhicule équipé d'une caisse isotherme aux normes d'hygiène en vigueur avec contrôle de la température.
      </div>
      <div class="faq-row-paragraph">
        Inscrit dans ses gênes, votre épicier s'engage à respecter scrupuleusement les normes d'hygiène en vigueur et
        notamment le respect de la chaîne du froid ainsi qu'une fraîcheur des produits à travers l'emploi de
        circuits-courts.
      </div>

      <div class="faq-row-title whimsy">Y a-t-il des frais de livraison ?</div>
      <div class="faq-row-paragraph">
        La livraison est gratuite dès 25€ d'achat. Si ce montant n'est pas atteint, vous pouvez néanmoins vous faire
        livrer avec un supplément de 5€.
      </div>

      <div class="faq-row-title whimsy">Je ne peux être disponible lors de la livraison, comment faire ?</div>
      <div class="faq-row-paragraph"><b>Uniquement avec votre accord écrit (sms ou mail).</b></div>
      <div class="faq-row-paragraph">
        Votre épicier peut vous déposer votre commande à un intermédiaire que vous aurez désigné. Néanmoins, Pierre Qui
        Roule se dégage de toute responsabilité en cas de dégradation (physique, chaîne du froid) des produits ainsi
        qu'en cas de vol. Nous vous rappelons que pour garantir la fraicheur, la conservation, ainsi que le respect des
        normes d'hygiène (notamment le respect de la chaîne du froid), il est conseillé de conserver les produits dans
        les conditions établies par les fournisseurs de Pierre Qui Roule (température, luminosité, hygrométrie). Le
        paiement se faisant de mano à mano une tiers personne de confiance sera alors à désigner pour procéder au
        règlement.
      </div>

      <div class="faq-title whimsy orange-underline">FAQ - les produits</div>

      <div class="faq-row-title whimsy">D'où proviennent les produits ?</div>
      <div class="faq-row-paragraph">
        Votre épicier se fournit quasi-exclusivement en produits locaux et de saison. Seuls certains articles, fruits et
        vrac essentiellement, ne sont pas à 100% locaux. Cependant pour ceux-ci ils sont distribués par des entreprises
        de notre région et font donc vivre « des gens du coin » . En consultant les produits la provenance est
        identifiée (nom de l'entreprise ou du producteur et commune).
      </div>

      <div class="faq-row-title whimsy">Quelles sont les quantités que je peux commander ?</div>
      <div class="faq-row-paragraph">Seules les quantités affichées sur le site sont commandables.</div>
      <div class="faq-row-paragraph">
        Si il s'agit d'article à la pièce/unité vous pouvez prendre la quantité désirée (exemple : 10 yaourts)
      </div>
      <div class="faq-row-paragraph">
        Si ce sont des articles à peser (exemple : des tomates), il est seulement possible de prendre une ou plusieurs
        unités de poids. Exemple : je veux commander 750 gr de tomates. Celles-ci sont vendues en unité de 500 gr. Je
        peux donc prendre une ou deux unités soit 500 gr ou 1 kg mais je ne peux avoir 750 gr.
      </div>

      <div class="faq-row-title whimsy">Les produits sont-ils bios ?</div>
      <div class="faq-row-paragraph">
        La majorité des produits ne sont pas bios mais sont souvent confectionnés ou récoltés par des producteurs
        soucieux de l'environnement. Ainsi les producteurs de légumes sont inscrits dans une démarche « d'agriculture
        raisonnée » visant à éviter autant que possible le recours aux intrants.
      </div>

      <div class="faq-row-title whimsy">J'ai eu un problème avec un produit, que faire ?</div>
      <div class="faq-row-paragraph">
        Votre épicier travaille en lien étroit avec des petites fermes et exploitants locaux et recherche en permanence
        deux choses essentielles : la qualité des produits et leur fraicheur. Il peut arriver que certains produits se
        conservent moins bien. Nous vous invitons à nous contacter pour tout soucis et nous mettrons tout en œuvre pour
        vous satisfaire (remboursement, avoir, dédommagement…).
      </div>
    </div>
  </div>
</div>

{% style %}
  .blue-link {
    cursor: pointer;
    color: blue;
  }

  .faq-row-paragraph {
    width: 100%;
    text-align: start;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1000px) {
    .faq-row-paragraph {
      font-size: 2rem;
    }
  }

  .faq-row-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    font-size: 2.5rem;
    color: var(--duck-blue);
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  @media screen and (max-width: 1000px) {
    .faq-row-title {
      font-size: 4.5rem;
    }
  }

  .faq {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .faq-column {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .faq-title {
    width: fit-content;
    margin-top: 1rem;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    display: flex;
  }
  @media screen and (max-width: 1000px) {
    .faq-title {
      font-size: 4rem;
    }
  }
{% endstyle %}
