<div class="tb-main">
  <div class="logo-box">
    <img loading='lazy' width="inherit" height="50" class="img" src='../assets/Logo_petit.PNG'/>
  </div>
  <div class="tb-menu">
    <div class="tb-box border-right">
      Accueil
    </div>
    <a href="{{ routes.collections_url }}">
      <div class="tb-box border-right">
        Commander
      </div>
    </a>
    <div class="tb-box">
      Contact
    </div>
  </div>
</div>

{% style %}

  .tb-main {
    display: flex;
    width: 100%;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: blue;
  }

  img {
    width: "inherit";
    height: "auto";
  }

  .tb-menu {
    width: 100%;
    text-align: center;
    color: white;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    font-family: "whimsy";
    font-size: 2em;
  }

  .logo-box {
    background-color: white;
    display: flex;
    width: 10rem;
    max-width: 10rem;
    justify-content: center;
    align-items: center;
  }

  .tb-box {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }

  .tb-box:hover {
    text-shadow: 1px 1px 2px white;
  }

  .border-right {
    border-right-style: solid;
    border-right-color: "#FFFFF";
    border-width: 1px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Header"
  }
{% endschema %}
