<div class="h-main">

  <div class="h-left-container">
    <div>
      {{ settings.test }}
      LOGO
    </div>
  </div>
  
  <div class="h-right-container">
    <div class="h-box">
      Mon panier
    </div>
    <div class="h-box">
      S'inscrire
    </div>
    <div class="h-box">
      S'identifier
    </div>
  </div>

</div>

{% style %}

.h-main {
  background-color: {{ settings.test }};
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.h-right-container {
  display: flex;
  justify-content: space-between;
}

.h-box {
  margin-left: 1rem;
}

{% endstyle %}

{% schema %}
{
  "name": "Header"
}
{% endschema %}