<div class="main-wrapper">
  <div class="main-column pt">

    <div class="collections">
      {% for collection in collections %}
        <!-- collection info -->
        <a class="link hd-box" href={{collection.url}}>
          <div class="collection">
            {{ collection.title }}</div>
        </a>
      {% endfor %}
    </div>

  </div>
</div>

{% style %}
  .collections {
    background-color: red;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }

  @media(min-width: 600px) {
    .collections {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media(min-width: 900px) {
    .collections {
      grid-template-columns: repeat(3, 1fr);
    }
  }
{% endstyle %}