<div class="main-wrapper">
  <div class="main-column pt col">

    <div class="collection-title">
      Catégories
    </div>

    <div class="collections-container">
      <div class="collections">
        {% for collection in collections %}
          <div class="list-collection-container">
            <a class="link collection-link" href={{collection.url}}>
              <div class="collection">

                <div class="collection-title-container">
                  <div class="collection-name whimsy">
                    {{ collection.title }}
                  </div>
                </div>

                <img
                  src="{{ collection | img_url: 'original' }}"
                  alt="{{ collection.title | escape }}"
                  display="block"
                  width="250"
                  height="250"
                  loading="lazy" />

              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>

{% style %}
  .collection-title {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  @media screen and (max-width: 1000px) {
    .collection-title {
      font-size: 3rem;
    }
  }

  .collections {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
  }

  .list-collection-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .collection-link {
    height: 100%;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--light-grey);
  }

  .collection-title-container {
    display: flex;
    height: 100%;
    text-align: center;
  }

  .collection {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding: 0.2rem 1rem 1rem;
  }

  .collection-name {
    text-align: center;
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 1000px) {
    .collection-name {
      font-size: 2.5rem;
    }
  }

  @media(min-width: 100px) {
    .collections {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media(min-width: 760px) {
    .collections {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media(min-width: 1200px) {
    .collections {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media(min-width: 1500px) {
    .collections {
      grid-template-columns: repeat(5, 1fr);
    }
  }
{% endstyle %}