<div class="main-wrapper">
  <div class="main-column">

    <div class="mt-main">

      <div class="mt-title whimsy">
        Le site de Pierre qui roule est actuellement en développement, à bientôt !
      </div>

    </div>

  </div>
</div>

{%- style -%}

  .mt-main {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mt-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .mt-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
  }
{% endstyle %} 