<div class="main-wrapper">
  <div class="main-column">

    <div class="map-main">
      <div class="map-left-container grid-item">
        <div class="map-map-wrapper">
          <img loading='lazy' class="map-map" src={{ 'planning-carte.jpeg' | asset_url }}/>
        </div>
      </div>
      <div class="map-right-container grid-item">
        <div class="title-wrapper">
          <div class="map-title whimsy orange-underline">
            Où nous trouver ?
          </div>
        </div>

        <div class="map-text">
          <div class="map-p">
            Pierre qui roule se déplace dans l'Audomarois, le Dunkerquois et le Boulonnais.
          </div>
          <div class="map-p">
            La carte vous permet de repérer les arrêts du camion !
          </div>
        {%- comment -%}
          <div class="map-text">
          Le camion épicerie “Pierre Qui Roule” fait une tournée hebdomadaire composée de
          <ul>
          <li>marchés</li>
          <li>arrêts itinérants en commune</li>
          <li>livraisons à domicile des particuliers</li>
          <li>livraisons aux clubs des aînés</li>
          </ul>
          La tournée s'effectue du Lundi au Vendredi sur nos belles routes de la région.
          <br>
          La carte interactive vous permet de repérer les arrêts du camion !
          </div>
        {%- endcomment -%}
      </div>
    </div>
  </div>

</div>

{% style %}

  .map-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem 0rem;
  }

  @media screen and (max-width: 1200px) {
    .grid-item:nth-child(1) {
      order: 2;
    }
    .grid-item:nth-child(2) {
      order: 1;
    }

    .map-main {
      grid-template-columns: 1fr;
    }
  }

  .map-right-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .map-title {
    font-size: 3rem;
    margin-bottom: 1rem;

  }

  .map-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
  }

  .map-p {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .map-left-container {
    padding: 1rem 0;
    display: flex;
  }

  .map-map-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .map-map {
    width: 60rem;
  }

  .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Map"
  }
{% endschema %}
