<div class="pic-main">

  {% comment %}
  <div class="pic-box">
  PHOTO
  </div>
  {% endcomment %}<div class="pic-box">
    Camion épicerie itinérant
  </div>
  <div class="pic-box">
    Produits locaux, de saison, spécialités régionales, zéro déchet
  </div>

</div>

{% style %}

  .pic-main {
    color: white;
    background-color: #FF8C1A;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 15rem;
    font-size: 3rem;
    font-weight: bolder;

    background-image: url('{{ 'cover2.jpg' | asset_url }}');
    background-size: cover;

    /* TO COMMENT FOR BANNER */
    margin-bottom: 5rem;
  }
{% endstyle %}


{% schema %}
  {
    "name": "Picture"
  }
{% endschema %}