<div class="main-wrapper">
  <div class="main-column">
    <div class="cust-main">
      <div class="cust-title">Créer un compte</div>

      {% form 'create_customer' %}
        <div class="form-row">
          <div class="input-container">
            <label for="email">Email</label>
            <input class="cust-input" type="email" name="customer[email]">
          </div>
        </div>

        <div class="form-row">
          <div class="input-container">
            <label for="first-name">Prénom</label>
            <input class="cust-input" type="text" name="customer[first_name]">
          </div>
        </div>

        <div class="form-row">
          <div class="input-container">
            <label for="last-name">Nom</label>
            <input class="cust-input" type="text" name="customer[last_name]">
          </div>
        </div>

        <div class="form-row">
          <div class="input-container">
            <label for="password">Mot de passe</label>
            <input class="cust-input" type="password" name="customer[password]">
          </div>
        </div>

        <div class="cust-form-errors">
          {{ form.errors | default_errors }}
        </div>

        <div class="cust-button-container">
          <button type="submit" class="cust-button">Créer compte</button>
        </div>
      {% endform %}

      <a class="link" href="{{ routes.account_login_url }}">
        <div class="cust-subtitle">Déjà client ? Se connecter</div>
      </a>
    </div>
  </div>
</div>
