<div class="main-wrapper">
  <div class="main-column">
    <div class="cust-main">

      <div class="cust-title">
        Changer de mot de passe
      </div>

      {% form 'reset_customer_password' %}

      <div class="password">
        <input class="cust-input" type="password" name="customer[password]" id="password">
        <label for="password">Password</label>
      </div>

      <div class="password_confirm">
        <input class="cust-input" type="password" name="customer[password_confirmation]" id="password_confirmation">
        <label for="password_confirmation">Confirm password</label>
      </div>

      <div class="cust-form-errors">
        {{ form.errors | default_errors }}
      </div>

      <button type="submit" class="cust-button">
        Changer le mot de passe
      </button>

      {% endform %}

    </div>
  </div>
</div>