<div class="main-wrapper">
  <div class="main-column">
    <div class="cust-main">
      {% form 'reset_customer_password' %}
        <div class="form-row">
          <div class="input-container">
            <label for="password">Mot de passe</label>
            <input class="cust-input" type="password" name="customer[password]" id="password">
          </div>
        </div>

        <div class="form-row">
          <div class="input-container">
            <label for="password_confirmation">Confirmation du mot de passe</label>
            <input class="cust-input" type="password" name="customer[password_confirmation]" id="password_confirmation">
          </div>
        </div>

        <div class="cust-form-errors">
          {{ form.errors | default_errors }}
        </div>

        <div class="cust-button-container">
          <button type="submit" class="cust-button">Changer le mot de passe</button>
        </div>
      {% endform %}
    </div>
  </div>
</div>
