<div class="main-wrapper">
  <div class="main-column">
    <div class="tt-main">

      <div class="tt-title-wrapper">
        <div class="tt-title whimsy orange-underline">Nos tournées</div>
      </div>

      <div class="tt-legend-wrapper">
        <div class="tt-legend">
          <div class="tt-icon">
            L
          </div>
          <div class="tt-legend-desc">
            Marché
          </div>
        </div>

        <div class="tt-legend">
          <div class="tt-icon">
            L
          </div>
          <div class="tt-legend-desc">
            Livraison à domicile
          </div>
        </div>

        <div class="tt-legend">
          <div class="tt-icon">
            L
          </div>
          <div class="tt-legend-desc">
            Arrêt dans la commune
          </div>
        </div>

      </div>


      <div class="tt-wrapper">
        <div class="tt-days-row">
          <div class="tt-day-box tt-ml">
            <div class="day whimsy">Lundi</div>
            <div class="tt-half-day">
              <div class="tt-half-day-title whimsy">
                Matin:
              </div>
              <div class="tt-half-day-row">
                <div class="tt-icon">
                  L
                </div>
                <div class="tt-place whimsy">
                  Hazebrouck
                </div>
              </div>
            </div>
          </div>
          <div class="tt-day-box">
            <div class="day whimsy">Mardi</div>
            <div class="tt-half-day bb-orange">
              <div class="tt-half-day-title whimsy">
                Matin:
              </div>
              <div class="tt-half-day-row">
                <div class="tt-icon">
                  L
                </div>
                <div class="tt-place whimsy">
                  Le portel
                </div>
              </div>
            </div>
            <div class="tt-half-day-title whimsy">
              Après-midi:
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Wavrans sur l'Aa
              </div>
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Merck Saint Liévin
              </div>
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Bomy
              </div>
            </div>
          </div>
          <div class="tt-day-box tt-mr">
            <div class="day whimsy">Mecredi</div>
            <div class="tt-half-day bb-orange">
              <div class="tt-half-day-title whimsy">
                Matin:
              </div>
              <div class="tt-half-day-row">
                <div class="tt-icon">
                  L
                </div>
                <div class="tt-place whimsy">
                  Warhem:
                </div>
              </div>
            </div>
            <div class="tt-half-day-title whimsy">
              Après-midi:
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Teteghem coudekerque village
              </div>
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Eringhem
              </div>
            </div>
          </div>
        </div>

        <div class="tt-days-row tt-mt">
          <div class="tt-day-box tt-ml">

            <div class="day whimsy">Jeudi</div>
            <div class="tt-half-day bb-orange">
              <div class="tt-half-day-title whimsy">
                Matin:
              </div>
              <div class="tt-half-day-row">
                <div class="tt-icon">
                  L
                </div>
                <div class="tt-place whimsy">
                  Club des ainés
                </div>
              </div>
            </div>
            <div class="tt-half-day-title whimsy">
              Après-midi:
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Steenbecque
              </div>
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Sercus
              </div>
            </div>

          </div>
          <div class="tt-day-box">

            <div class="day whimsy">Vendredi</div>
            <div class="tt-half-day bb-orange">
              <div class="tt-half-day-title whimsy">
                Matin:
              </div>
              <div class="tt-half-day-row">
                <div class="tt-icon">
                  L
                </div>
                <div class="tt-place whimsy">
                  Lumbres
                </div>
              </div>
            </div>
            <div class="tt-half-day-title whimsy">
              Après-midi:
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Boulangerie a ma facon
              </div>
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Racquighem
              </div>
            </div>

          </div>
          <div class="tt-day-box tt-mr">
            <div class="day whimsy">Samedi</div>
            <div class="tt-half-day bb-orange">
              <div class="tt-half-day-title whimsy">
                Matin:
              </div>
              <div class="tt-half-day-row">
                <div class="tt-icon">
                  L
                </div>
                <div class="tt-place whimsy">
                  Livraison autour de Saint-Omer (8km)
                </div>
              </div>
            </div>
            <div class="tt-half-day-title whimsy">
              Après-midi:
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Arques
              </div>
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Caviste "Aux brasseurs" de Roquetoire
              </div>
            </div>
            <div class="tt-half-day-row">
              <div class="tt-icon">
                L
              </div>
              <div class="tt-place whimsy">
                Campagne-lès-Wardrecques
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{%- style -%}

  .tt-main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .tt-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--duck-blue)
  }

  .tt-days-row {
    display: flex;
    width: 100%;
  }

  .tt-title-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .tt-legend-wrapper {
    display: flex;
    justify-content: flex-start;
    background-color: var(--duck-blue);
    padding: 1rem 1rem 0;
  }

  .tt-legend {
    display: flex;
    margin-right: 1rem;
  }

  .tt-legend-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .tt-title {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    display: flex;
  }

  .tt-day-box {
    display: flex;
    width: 100%;
    height: min-content;
    flex-direction: column;
    text-align: center;
    border-width: 1px;
    margin: 0 0.5rem;
    border-style: solid;
    border-color: var(--duck-blue);
    border-radius: 10px;
    background-color: white;
  }

  .tt-ml {
    margin-left: 1rem;
  }

  .tt-mr {
    margin-right: 1rem;
  }

  .tt-mt {
    margin-top: 1rem;
  }

  .tt-text {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin-bottom: 1rem;
  }

  .tt-half-day {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .tt-half-day-title {
    display: flex;
    padding: 0.3rem;
    width: 100%;
    font-size: 1.3rem;
    justify-content: center;
    text-decoration: underline;
  }

  .tt-half-day-row {
    display: flex;
    width: 100%;
  }

  .day {
    background-color: var(--orange);
    padding: 0.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 1.5rem;
  }

  .bb-orange {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--orange);
  }

  .tt-icon {
    display: flex;
    padding: 0.3rem;
    align-items: center;
    justify-content: center;
  }

  .tt-place {
    font-size: 1.3rem;
    display: flex;
    padding: 0.3rem;
    width: 100%;
    align-items: center;
  }
}
{% endstyle %} 