<div class="main-wrapper">
  <div class="main-column">


    <div class="tt-padding">
      <div class="tt-container">
        <div class="title-wrapper">
          <div class="tt-title whimsy orange-underline">
            Nos tournées: 10 Avril au 20 Mai
          </div>
        </div>
        <div class="tt-timetable">

          <table class="table">
            <tr>
              <th class="bl bt tl-corner time"></th>
              <th class="bt">Lundi</th>
              <th class="bt">Mardi</th>
              <th class="bt">Mercredi</th>
              <th class="bt">Jeudi</th>
              <th class="bt">Vendredi</th>
              <th class="bt br tr-corner">Samedi</th>
              {%- comment -%}
                <th>Horaires</th>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">7h - 8h</td>
              <td rowspan="5" class="market">
                <p class="td-title">
                  Hazebrouck<br>7h - 12h
                </p>
                <p>Marché</p>
              </td>
              <td rowspan="5" class="market">
                <p class="td-title">
                  Le Portel<br>7h - 12h
                </p>
                <p>Marché</p>
              </td>
              <td class="empty">m</td>
              <td rowspan="3" class="empty">j</td>
              <td rowspan="5" class="market">
                <p class="td-title">Lumbres<br>7h - 12h</p>
                <p>Marché</p>
              </td>
              <td rowspan="2" class="empty br">s</td>
              {%- comment -%}
                <td>7h - 8h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">8h - 9h</td>
              <td rowspan="2">
                <p class="td-title">Cappellebrouck<br>8h - 10h</p>
                <p>Rue principale</p>
              </td>
              {%- comment -%}
                <td>8h - 9h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">9h - 10h</td>
              <td rowspan="3" class="br delivery">
                <p class="td-title">Saint-Omer<br>9h - 12h</p>
                <p>Livraison à domicile</p>
              </td>
              {%- comment -%}
                <td>9h - 10h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">10h - 11h</td>
              <td rowspan="2">
                <p class="td-title">Warhem<br>10h - 12h</p>
                <p>Face à l'école maternelle</p>
              </td>
              <td rowspan="6" class="delivery">
                <p class="td-title">Club des ainés<br>10h - 16h</p>
                <p>Livraison à domicile</p>
              </td>
              {%- comment -%}
                <td>10h - 11h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">11h - 12h</td>
              {%- comment -%}
                <td>11h - 12h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">12h - 13h</td>
              <td rowspan="8" class="empty bb">-</td>
              <td rowspan="2" class="empty">-</td>
              <td rowspan="2" class="empty">-</td>
              <td rowspan="2" class="empty">-</td>
              <td rowspan="2" class="empty br">-</td>
              {%- comment -%}
                <td>12h - 13h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">13h - 14h</td>
              {%- comment -%}
                <td>13h - 14h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">14h - 15h</td>
              <td rowspan="2">
                <p class="td-title">Wavrans sur l'Aa<br>14h - 16h</p>
                <p>250 bis Avenue du general de Gaulle</p>
              </td>
              <td rowspan="3">
                <p class="td-title">Teteghem coudekerque village<br>14h - 17h</p>
                <p>Parking du stade municipal</p>
              </td>
              <td rowspan="2" ">
                <p class="td-title">Quiestede<br>14h - 16h</p>
                <p>Parking derrière l'église</p>
              </td>
              <td rowspan="2" class="br">
                <p class="td-title">Arques<br>14h - 16h</p>
                <p>Parking de la mairie</p>
              </td>
              {%- comment -%}
                <td>14h - 15h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">15h - 16h</td>
              {%- comment -%}
                <td>15h - 16h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">16h - 17h</td>
              <td rowspan="2">
                <p class="td-title">Merck saint Liévin<br>16h - 18h</p>
                <p>Piscine municipale</p>
              </td>
              <td rowspan="2">
                <p class="td-title">Steenbecque<br>16h - 18h</p>
                <p>Devant le café du coin</p>
              </td>
              <td rowspan="2" class="pro">
                <p class="td-title">Wittes<br>16h - 18h</p>
                <p>Boulangerie a ma façon</p>
              </td>
              <td rowspan="2" class="br pro">
                <p class="td-title">Roquetoire<br>16h - 18h</p>
                <p>Caviste les caves du brasseur</p>
              </td>
              {%- comment -%}
                <td>16h - 17h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">17h - 18h</td>
              <td rowspan="3" class="bb">
                <p class="td-title">Eringhem<br>17h - 20h</p>
                <p>Parking de l'église</p>
              </td>
              {%- comment -%}
                <td>17h - 18h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bl time">18h - 19h</td>
              <td rowspan="2" class="bb delivery">
                <p class="td-title">Bomy<br>18h - 20h</p>
                <p>Livraison à domicile</p>
              </td>
              <td rowspan="2" class="bb">
                <p class="td-title">Sercus<br>18h - 20h</p>
                <p>Devant la bibliothèque municipale</p>
              </td>
              <td rowspan="2" class="bb">
                <p class="td-title">Racquincghem<br>18h - 20h</p>
                <p>Rue des fleurs</p>
              </td>
              <td rowspan="2" class="br bb br-corner">
                <p class="td-title">Campagne les wardrecques<br>18h - 20h</p>
                <p>Route de wardrecques</p>
              </td>
              {%- comment -%}
                <td>18h - 19h</td>
              {%- endcomment -%}
            </tr>
            <tr>
              <td class="bb bl bl-corner time">19h - 20h</td>
              {%- comment -%}
                <td>19h - 20h</td>
              {%- endcomment -%}
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

{% style %}

  .tt-padding {
    padding: 0 1rem;
  }

  .time {
    background-color: var(--duck-blue);
    color: white;
    border-color: black;
    max-width: 4rem;
    width: 4rem;
  }

  .tt-container {
    width: 100%;
  }

  .tt-title {
    font-size: 3rem;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
  }

  .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tt-timetable {
    display: flex;
    width: 100%;
  }

  table {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
  }

  th {
    font-family: "whimsy";
    font-size: 1.3rem;
    border-style: solid;
    background-color: var(--duck-blue);
    color: white;
    border-color: black;
    border-width: 1px;
  }

  @media screen and (max-width: 1200px) {
    th {
      font-size: 1.8rem;
    }
  }


  td {
    background-color: aliceblue;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    padding: 0.3rem 2px;
    border-width: 1px;
    font-size: 0.8rem;
  }

  @media screen and (max-width: 1200px) {
    td {
      font-size: 1rem;
      padding: 0;
    }
  }


  .bl {
    border-left-width: 2px
  }

  .br {
    border-right-width: 2px
  }

  .bb {
    border-bottom-width: 2px
  }

  .bt {
    border-top-width: 2px
  }

  .market {
    background-color: #f1ffc4;
  }

  .delivery {
    background-color: #ffcaaf;
  }

  .pro {
    background-color: #fcf5c7;
  }

  .empty {
    background-color: white;
    border-color: black;
    color: white;
  }

  .tl-corner {
    border-top-left-radius: 10px;
  }

  .tr-corner {
    border-top-right-radius: 10px;
  }

  .br-corner {
    border-bottom-right-radius: 10px;
  }

  .bl-corner {
    border-bottom-left-radius: 10px;
  }

  p {
    margin: 0;
  }

  .td-title {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }

  @media screen and (max-width: 1200px) {
    .td-title {
      font-size: 1rem;
    }
  }
{% endstyle %}
