<div class="tb-main">
      <div class="tb-box">
        Accueil
      </div>
      <div class="tb-box">
        Nos produits
      </div>
      <div class="tb-box">
        Les producteurs
      </div>
      <div class="tb-box">
        On parle de nous
      </div>
      <div class="tb-box">
        Contact
      </div>
  </div>
  
  {% style %}
  
.tb-main {
    color: white;
    background-color: #28241B;
    display: flex;
    padding: 1rem 3rem 1rem 3rem;
    justify-content: space-between;
}
  
  {% endstyle %}

  {% schema %}
  {
    "name": "Header"
  }
  {% endschema %}