<div class="tb-main">
  <div class="header-column">
    <div class="header-wrapper">
      <div class="header">
        <div class="title">
          <div class="logo-box">
            <img loading='lazy' width="inherit" height="30" class="img" src='../assets/caddie.png'/>
          </div>
          <div class="pql">Pierre</div>
          <div class="pql">qui</div>
          <div class="pql orange">roule</div>
          {%- comment -%}
            <div class="slogan">localement votre</div>
          {%- endcomment -%}
        </div>
      </div>
      <div class="socials">
        <div class="fb-wrapper">
          <img loading='lazy' width="inherit" height="35" class="img fb" src='../assets/fb.png'/>
        </div>
        <div class="insta">
          <img loading='lazy' width="inherit" height="35" class="img" src='../assets/insta.png'/>
        </div>
      </div>
    </div>
  </div>
  <div class="tb-menu">
    <div class="tb-box border-right">
      Accueil
    </div>
    <div class="tb-box border-right">
      Commander
    </div>
    <div class="tb-box">
      Contact
    </div>
  </div>
</div>

{% style %}

  .header-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100rem;
    width: 100%;
  }

  .header {
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    /*padding-left: 2rem;
    padding-right: 2rem;*/
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
  }

  .fb {
    border-radius: 10px;
  }

  .fb-wrapper {
    margin-right: 1rem;
  }

  .title {
    display: flex;
  }

  .pql {
    font-family: whimsy;
    font-size: 2rem;
    color: var(--duck-blue);
    margin-right: 0.5rem;
  }

  .slogan {
    display: flex;
    align-items: center;
  }

  .orange {
    color: var(--orange)
  }

  .tb-main {
    height: 6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #28241B;
  }

  img {
    width: "inherit";
    height: "auto";
  }

  .tb-menu {
    height: 3rem;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #28241B;
    display: flex;
    justify-content: space-between;
    font-family: "whimsy";
    font-size: 2em;
  }

  .logo-box {
    background-color: white;
    display: flex;
    width: 4rem;
    max-width: 4rem;
    justify-content: center;
    align-items: center;
  }

  .tb-box {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }

  .tb-box:hover {
    text-shadow: 1px 1px 2px white;
  }

  .border-right {
    border-right-style: solid;
    border-right-color: "#FFFFF";
    border-width: 1px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Header"
  }
{% endschema %}
