:root {
    --duck-blue: #1A7A63;
    --orange: #FF8C1A;
    --black: #28241B;
}

.whimsy {
    font-family: "whimsy";
}

.orange-underline {
    border-bottom-style: solid;
    border-bottom-color: var(--orange);
}

.html {
    height: 100%;
    background-color: var(--black);
}

.body {
    font-family: "avgb";
    background-color: "#FFFFF";
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
}

#shopify-section-footer {
    max-height: 6rem;
    height: 100%;
}

.main-column {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    max-width: 100rem;
}

.tt-column {
    width: 100%;
}

.main {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 2rem;
}

.main-wrapper {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: column;
    padding-bottom: 1rem; */


    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    align-items: center;
    width: 100%;
}