:root {
    --duck-blue: #1A7A63;
    --orange: #FF8C1A;
    --black: #28241B;
}

.whimsy {
    font-family: "whimsy";
}

.orange-underline {
    border-bottom-style: solid;
    border-bottom-color: var(--orange);
}

.html {}

.body {
    font-family: "avgb";
    background-color: "#FFFFF";
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.main-column {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
}

.tt-column {
    width: 100%;
}

.main-mt {
    padding-top: 6rem;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}